doctype
html
	head
		title KD Network Stats
		// link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		meta(title="Vodafone/KD Performancecheck")
		meta(description="Show statistics for downloadrate, uplodadrate and ping")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="Vodafone/KD Statistics")
		meta(property="og:url" content="#{fullUrl}")
		meta(property="og:image" content="#{fullUrl}img/meta/sharing/sharing.png")
		meta(property="og:title" content="Vodafone/KD Performancecheck")
		meta(property="og:description" content="Show statistics for downloadrate, uplodadrate and ping")

		meta(name="application-name", content="Vodafone/KD Statistics")
		meta(name="msapplication-starturl", content="#{fullUrl}")
		meta(name="msapplication-TileColor", content="#FFFFFF")
		meta(name="msapplication-TileImage", content="/img/meta/microsoft/ms-icon-144x144.png' %}")
		meta(name="msapplication-square70x70logo", content="{% static 'img/meta/microsoft/ms-icon-70x70.png' %}")
		meta(name="msapplication-square150x150logo", content="{% static 'img/meta/microsoft/ms-icon-150x150.png' %}")
		meta(name="msapplication-square310x310logo", content="{% static 'img/meta/microsoft/ms-icon-310x310.png' %}")

		meta(name="apple-mobile-web-app-title", content="Vodafone/KD Statistics")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-57x57.png", sizes="57x57")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-60x60.png", sizes="60x60")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-72x72.png", sizes="72x72")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-76x76.png", sizes="76x76")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-114x114.png", sizes="114x114")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-120x120.png", sizes="120x120")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-144x144.png", sizes="144x144")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-152x152.png", sizes="152x152")
		link(rel="apple-touch-icon", href="/img/meta/apple/apple-icon-180x180.png", sizes="180x180")

		link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")

		link(rel="manifest", href="/manifest.json' %}")

		meta(name="msapplication-config", content="/browserconfig.xml")
	body
		header
			h1 KD Network Stats
		.container
			.main-content
				block content
		footer
			p &copy;2017 Martin Schneider
		block js
